<!DOCTYPE html>
<html>

<head>
	<title>Nashville Helps</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="./../node_modules/materialize-css/dist/css/materialize.css" media="screen,projection"
	/>
	<link rel="stylesheet" href="./../assets/css/site.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-app="nashhelps.account"ng-controller="accountController">
		<nav class="blue-grey darken-4">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Nashville Helps</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/logout">Log Out</a></li>
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">

		<div ng-show="success">
			<br>
			<br>
			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card green lighten-4">
						<div class="card-content">
							<p>Your changes have been saved succesfully.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="error">
			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card red lighten-5">
						<div class="card-content">
							<p>{{errorMessage}}</p>
							<br>
							<p>To request more information about Nashville Helps, Megan Godbey at (615) 880-2264 or Megan.Godbey@nashville.gov</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h4>My Account</h4>
		<div class="row">
			<div class="col s12">
				<ul class="tabs blue-grey lighten-5">
					<li class="tab col s4"><a href="#profile" class="blue-grey-text">My Profile</a></li>
					<li class="tab col s4"><a href="#password" class="blue-grey-text">Change My Password</a></li>
					<li class="tab col s4"><a href="#agency" class="blue-grey-text">My Agency</a></li>
				</ul>
			</div>
		</div>

		<div class="row" id="password">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<div class="input-field">
							<input type="password" ng-model="password">
								<label for="password">Password</label>
							</div>
							<div class="input-field">
						<input type="password" ng-model="confirm_password">
								<label for="confirm_password">Confirm Password</label>
							</div>
						<br>
						<div class="row center-align">
							<button ng-click="changePassword(password)" ng-class="{'disabled': password !== confirm_password }" class="disabled blue waves-effect waves-light btn">Update Password</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="profile">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<div class="row">
							<div class="input-field">
								<input type="text" name="firstName" ng-model="profile.first_name" class="validate">
								<label ng-class="{'active': profile.first_name}" for="firstName">First Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input type="text" name="lastName" ng-model="profile.last_name" class="validate">
								<label ng-class="{'active': profile.last_name}" for="lastName">Last Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input type="text" name="email" ng-model="profile.email" class="validate">
								<label ng-class="{'active': profile.email}" for="email">Email Address</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<input type="text" name="phone" ng-model="profile.phone" class="validate">
								<label ng-class="{'active': profile.phone}" for="phone">Phone Number</label>
							</div>
						</div>
						<br>
						<div class="row center-align">
							<button ng-click="saveProfile(profile)" class="waves-effect waves-light btn-flat">Save Profile</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="agency">
			<div class="col s6">
				<div class="card">
					<div class="card-content">
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="agencyName" ng-model="agency.name" class="validate">
								<label for="agencyName">Agency Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="streetAddress" ng-model="agency.street1" class="validate">
								<label for="streetAddress">Street Address</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="streetAddress2" ng-model="agency.street2" class="validate">
								<label for="streetAddress2">Street Address 2</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s5">
								<input type="text" id="city" ng-model="agency.city" class="validate">
								<label for="city">City</label>
							</div>
							<div class="input-field col s3">
								<input type="text" id="state" ng-model="agency.state" class="validate">
								<label for="streetAddress">State</label>
							</div>
							<div class="input-field col s4">
								<input type="text" id="zipCode" ng-model="agency.postal" class="validate">
								<label for="zipCode">Zip Code</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" id="phoneNumber" ng-model="agency.phone" class="validate">
								<label for="phoneNumber">Phone Number</label>
							</div>
						</div>
						<div class="row center-align">
							<button ng-click="saveAgency(agency)" class="waves-effect waves-light btn-flat">Save Agency</button>						
						</div>
					</div>
				</div>
			</div>
			<div class="col s6">
				<ul class="collection with-header">
					<li class="collection-header">
						<h6>Services Offered by My Agency</h6>
					</li>
					<li class="collection-item" ng-repeat="service in agency.services">
						service.name
						<a href ng-click="deleteService(service._id)" class="secondary-content"><i class="material-icons">delete</i></a>
					</li>
					<li class="collection-item">
						<a href ng-click="showAddAgencyInputs()">+ Add Service</a>
					</li>
					<li class="collection-item" ng-show="addAgencyInputs">
						<div class="row">
							<label>Select Service</label>
							<div class="input-field col s12">
								<select id="service" ng-model="selectedService" class="browser-default">
									<option ng-repeat="service in services" value="{{service._id}}">{{service.name}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<button ng-click="addServiceToAgency(selectedService)" class="waves-effect waves-light btn blue-grey">Add Service</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="./../node_modules/jquery/dist/jquery.js"></script>
	<script src="./../node_modules/materialize-css/dist/js/materialize.js"></script>
	<script src="./../node_modules/angular/angular.js"></script>
	<script src="./../node_modules/angular-materialize/src/angular-materialize.js"></script>
	<script src="./../app.js"></script>
	<script src="./../client/client.js"></script>
	<script src="./../admin/admin.js"></script>
	<script src="./../admin/agencyService.js"></script>
	<script src="./../admin/servicesService.js"></script>
	<script src="account.js"></script>
	<script src="accountService.js"></script>
	<script src="accountController.js"></script>
</body>

</html>