<!DOCTYPE html>
<html>

<head>
	<title>Nashville Helps</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="./../node_modules/materialize-css/dist/css/materialize.css" media="screen,projection"
	/>
	<link rel="stylesheet" href="./../assets/css/site.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-app="nashhelps.admin" ng-controller="adminController">
	<nav class="blue-grey darken-4">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Nashville Helps</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/logout">Log Out</a></li>
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">

		<div ng-show="success">
			<br>
			<br>

			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card green lighten-4">
						<div class="card-content">
							<p>Your changes have been saved succesfully.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div ng-show="error">
			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card red lighten-5">
						<div class="card-content">
							<p>{{errorMessage}}</p>
							<br>
							<p>To request more information about Nashville Helps, Megan Godbey at (615) 880-2264 or Megan.Godbey@nashville.gov</p>
						</div>
					</div>
				</div>
			</div>

		</div>



		<h4>Services</h4>
		<div class="row">
			<div class="col s12">
				<ul class="collection">
					<li class="collection-item" ng-repeat="service in services">
						<h5>{{service.name}} -- {{service.category}}<a modal href="#delete" ng-click="deleteConfirm(service)" class="secondary-content"><i class="material-icons">remove</i></a></h5>
					</li>
				</ul>

			<br>
			<br>
			<ul class="collection with-header">
				<li class="collection-header">
					<a ng-click="showAddInputs()">+ Add Service</a>
				</li>
				<li class="collection-item" ng-show="addInputs">
					<div class="input-field">
						<input required ng-model="newService.name" type="text" class="validate">
						<label for="name">Service Name</label>
					</div>
					<div class="input-field">
						<input ng-model="newService.category" type="text" class="validate">
						<label for="category">Service Category</label>
					</div>
					<button type="submit" id="submit" ng-click="addService(newService)" class="blue center-align waves-effect waves-light btn">Add Service</button>
				</li>
			</ul>
		</div>
	</div>
	<!-- Modal Structure -->
	<div id="delete" class="modal bottom-sheet">
		<div class="modal-content">
			<h4>Are you sure you would like to delete {{confirmService.name}}?</h4>
			<p class="center-align">If you delete this service, it will be permanently removed from all the agencies associated with it.</p>
		</div>
		<div class="modal-footer">
			<a ng-click="delete(confirmService)" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
			<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	</div>

	<script src="./../node_modules/jquery/dist/jquery.js"></script>
	<script src="./../node_modules/materialize-css/dist/js/materialize.js"></script>
	<script src="./../node_modules/angular/angular.js"></script>
	<script src="./../node_modules/angular-materialize/src/angular-materialize.js"></script>
	<script src="./../app.js"></script>
	<script src="./../client/client.js"></script>
	<script src="./../client/clientService.js"></script>
	<script src="admin.js"></script>
	<script src="servicesService.js"></script>
	<script src="adminController.js"></script>
</body>

</html>