<div ng-include="'./../shared/nav.html'"></div>
<div class="container">


	<h4>Reports</h4>
	<div class="row">
		<div class="col s12">
			<ul tabs class="tabs blue-grey lighten-5">
				<li class="tab col s4"><a href="#clients" class="blue-grey-text">Clients by Service Requested</a></li>
				<li class="tab col s4"><a href="#services" class="blue-grey-text">Requests by Service</a></li>
				<li class="tab col s4"><a href="#agencies" class="blue-grey-text">Agencies by Service Offered</a></li>
			</ul>
		</div>
	</div>
	<!-- INSERT TABLE HERE 
          # services requested; average 
          # services fulfilled
          List of clients by zip code or service
          List of agencies that have fulfilled a request by frequency
          # of services requested / # of agencies per service category
          # of unfulfilled requests
        -->
	<div id="services">

	<table class="striped">
		<thead>
			<tr>
				<th>Service Name</th>
				<th>Category</th>
				<th>Agencies Providing</th>
				<th>Month</th>
				<th>Quarter</th>
				<th>Year</th>
				<th>All Time</th>
				<th>Total Fulfilled</th>
				<th>Total Not Fulfilled</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="service in report.services">
				<td>{{service.name}}</td>
				<td>{{service.category}}</td>
				<td>{{service.agencies.length}}</td>
				<td>{{service.times.thisMonth.length || 0}}</td>
				<td>{{service.times.thisQuarter.length || 0}}</td>
				<td>{{service.times.thisYear.length || 0}}</td>
				<td>{{service.times.allTime.length || 0}}</td>
				<td>{{service.total}}</td>
				<td>{{service.referrals.length - service.total}}</td>
			</tr>
		</tbody>
	</table>
	</div>
<div id="clients">
	<table class="striped">
		<thead>
			<tr>
				<th class="pointer" ng-click="orderByName()">Client Name</th>
				<th class="pointer" ng-click="orderByZip()">Zip Code</th>
				<th>Service</th>
				<th>Fulfilled</th>
				<th>Agencies Helping</th>
				<th class="pointer" ng-click="orderByDate()">Date Requested</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="client in report.clients | orderBy: order">
				<td>{{client.name.first}} {{client.name.last}}</td>
				<td>{{client.postal}}</td>
				<td>{{client.service.name}}</td>
				<td>{{client.fulfilled ? "Y" : "N"}}</td>
				<td>{{client.agency.name || "No agency has provided this service"}}</td>
				<td>{{client.dateRequested}}</td>
			</tr>
			<tr>
			</tr>
		</tbody>
	</table>
	
	<div class="card-panel">
		<h5>Totals:</h5>
		<p>To date, there have been {{report.clients.length}} requests for {{report.client.total}} clients. Of the client requests, {{report.client.totalFulfilled}} requests have been filled. Requests took on average {{report.client.averageCompletion}} days to complete.</p>
	</div>
</div>
<div id="agencies">
	<table class="striped">
		<thead>
			<tr>
				<th>Service Name</th>
				<th>Agency</th>
				<th>Last Month</th>
				<th>Last Quarter</th>
				<th>Last Year</th>
				<th>All Time</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="agency in report.agencies">
				<td>{{agency.service.name}}</td>
				<td>{{agency.name}}</td>
				<td>{{agency.times.thisMonth.length || 0}}</td>
				<td>{{agency.times.thisQuarter.length || 0}}</td>
				<td>{{agency.times.thisYear.length || 0}}</td>
				<td>{{agency.times.allTime.length || 0}}</td>
			</tr>
		</tbody>
	</table>

</div></div>