<nav class="blue-grey darken-4 nav-extended" ng-controller="navController">
    <div class="nav-wrapper container">
        <a ng-href="/" class="brand-logo">Nashville Helps</a>
        <a ng-href="#" class="button-collapse" data-activates="mobile-demo" data-sidenav="left" data-menuwidth="500" data-closeonclick="false">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile"  class="right hide-on-med-and-down">
            <li ng-hide="is_authenticated"><a ng-href="/account/login">Login</a></li>
            <li ng-show="is_authenticated"><a ng-href="/account">My Account</a></li>
            <li ng-show="is_authenticated"><a ng-href="/dashboard">Dashboard</a></li>
            <li ng-show="is_authenticated && is_authorized"><a ng-href="/admin">Admin</a></li>
            <li ng-show="is_authenticated && is_authorized"><a ng-href="/admin/report">Reports</a></li>
            <li ng-show="is_authenticated"><a href ng-click="logout()">Log Out</a></li>
        </ul>
        <ul id="mobile-demo" class="side-nav">
            <li ng-hide="is_authenticated"><a ng-href="/account/login">Login</a></li>
            <li ng-show="is_authenticated"><a ng-href="/account">My Account</a></li>
            <li ng-show="is_authenticated"><a ng-href="/dashboard">Dashboard</a></li>
            <li ng-show="is_authenticated && is_authorized"><a ng-href="/admin">Admin</a></li>
            <li ng-show="is_authenticated && is_authorized"><a ng-href="/admin/report">Reports</a></li>
            <li ng-show="is_authenticated"><a href ng-click="logout()">Log Out</a></li>
        </ul>
    </div>
</nav>
<br>
<br>